# Xcode
DerivedData/
*.xcuserstate
*.xcworkspace
!default.xcworkspace

# Gradle
.gradle/
build/

# Android
paimingpian-android/build/
paimingpian-android/.gradle/
paimingpian-android/DerivedData/

# iOS
拍名片/build/
拍名片/.build/

# macOS
.DS_Store

# Logs
*.log
